:root {
    --color-text: #fae3ef;
    --color-background: black;
    --color-separator: gray;
    --color-link-and-visited: #76b9ec;
    --color-link-hover-and-active: #85c1ee;
}

body {
    padding: 25%;
    padding-top: 1%;
    font-family: "JetBrains Mono", monospace;
    background-color: var(--color-background);
    color: var(--color-text);
}

.section-separator {
    border-top: transparent
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    align-items: center;
}

.header {
    align-content: center;
    align-items: center;
    text-align: left;
    padding: 1%;
    padding-bottom: 2em;
}

.content {
    align-content: center;
    align-items: center;
    padding: 1%;
}

a:link {
    color: var(--color-link-and-visited);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-and-visited);
    text-decoration: none;
    text-decoration: underline;
}

a:hover,
a:active {
    color: var(--color-link-hover-and-active);
    text-decoration: underline;
}

h1,
h2 {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
    position: relative;
    text-align: left;
}

h1 {
    font-size: 2vw;
    font-weight: bold;
}

h1::after {
    content: "";
    position: absolute;
    left: 25%;
    height: 1px;
    width: 110%;
    background-color: var(--color-separator);
    margin-top: .5em;
    top: 100%;
    transform: translateX(-25%);
}

h2 {
    font-size: 1.5vw;
}

h2::after {
    content: "";
    position: absolute;
    left: 50%;
    height: 1px;
    width: 115%;
    background-color: var(--color-separator);
    margin-top: .75em;
    top: 100%;
    transform: translateX(-50%);
}

h3 {
    font-size: 1.3vw;
}

h4 {
    font-size: 1.2vw;
}

h5 {
    font-size: 1.1vw;
}

p {
    font-family: "JetBrains Mono", monospace;
    font-size: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
